/** PRIMARY #d0e2ba
/** PRIMARY rgba(208, 226,186,.3)

/** SECONDARY #2f5600
/** SECONDARY rgba(47,86,0, .3)

/** NEUTRAL #4d4d4d
/** NEUTRAL rgba(77,77,77,.3);

/** ACCENT #ad5757
/** ACCENT rgba(173,87,87,.3)
*/

/*html, body {
    background: #C9D3DC;
}*/

html, body, ul, li{
    margin: 0;
    padding: 0;
}

/**
 *  GLOBAL STYLES
 **/

.container{
    /*width: 1060px;*/
    margin: 0 auto;
    background: #c0c5ce;
    border-left: 3px solid #092b60;
    border-right: 3px solid #092b60;
}



.more-info{
    text-align: right;
}

.margin.left{
  margin-left: 5%;
}

.margin.right{
  margin-right: 5%;
}

/**
 *  HEADER STLYES
 **/

#site-header{
    position: relative;
    z-index: 0;
    background-color: #092b60;
    background: rgba(9, 43,96,.3);
}

#site-header-image{

    height: 230px;
    overflow: hidden;
    z-index: -1;
}

#site-header-image img{
    width: 100%;
    min-height: 230px;
}

#logo{
    position: absolute;
    top: 10px;
}


/**
 *  RIGHT COLUMN ITEMS
 **/

.one-fourth{
    width: 20%;
    float: left;
}

.three-fourths{
    width: 75%;
    float: left;
}

.full-width{
  width: 100%;
}

.one-fourth .item{
   margin-bottom: 1em;
}

.one-fourth .item h4{
    padding: .5em 1em;
    margin: 0;
    color: #fff;
    background: #2f5600;
}

.one-fourth .item .content{
    padding: 1em;
    border: 1px solid #e6e6e6;
}

.one-fourth .item p{
    font-size: .7em;
}

.one-fourth .item img{
    width: 100%;
}

/**
 *  FOOTER STLYES
 **/
#site-footer .container{
    padding: 1em;
    background: #820000;
    /*background: rgab(173,87,87,.3);*/
}

#site-footer > div {
  text-align: center;
}

#site-footer > div > p {
    margin: 0 auto;
    color: white;

}

/**
 *  CSS CLEARFIX
 **/

clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

/*#block-views-newsletter-block{
    text-align: center;
}*/

.map-container {
    position: relative;
    padding-bottom: 70%;
    padding-top: 20px;
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.runway-img{
    width: 100%;
    height: 100%;
}

.newsletter-view {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

#block-views-newsletter-block > div.content > div > div > div > div.views-field.views-field-field-newsletter-file > div > a {
    display: none;
}

#block-views-newsletter-block > div.content > div > div > div > div.views-field.views-field-field-newsletter-file > div {
    position: relative;
    padding-bottom: 70%;
    padding-top: 20px;
    height: 0;
    overflow: hidden;
}

#block-views-newsletter-block > div.content > div > div > div > div.views-field.views-field-field-newsletter-file > div #pdf_reader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
