.learn-container {
  margin: 0;
  padding: 1%;
}

.row {
  margin: 0;
}

.row .instruct-pic {
    width: 95%;
    margin: 0 1%;
}


.underline {
    width: 30%;
    border-bottom: 2px solid #820000;
}
