.ama-button {
  padding: 3px 15px;
  text-decoration: none;
  background-color: #87d3ff;
  color: #fcfeff;
  border: 2px outset #edf0f2;
  border-radius: 18px;
  -webkit-box-shadow: 5px 7px 28px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 7px 28px -6px rgba(0,0,0,0.75);
  box-shadow: 5px 7px 28px -6px rgba(0,0,0,0.75);
}

.ama-button:hover {
  text-decoration: underline;
  background-color: #6698d1;
  color: #d7dce2;
}

.border-line {
  border-bottom: 4px solid #092b60;
  margin: 0;
  padding: 0;
}

.member-table-container {
  background-color: #e8eaed;
}

.member-table {
  text-align: center;
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.member-info {
  font-size: 0.8em;
}

#webform-client-form-17 > div > div > div:nth-child(1) > div.form-actions > input, #edit-submit {
  padding: 3px 15px;
  background-color: #092b60;
  color: #cdd2d8;
  border: 3px outset #cdd2d8;
  border-radius: 18px;
  font-size: 1.3em;
  -webkit-box-shadow: 5px 7px 28px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 7px 28px -6px rgba(0,0,0,0.75);
  box-shadow: 5px 7px 28px -6px rgba(0,0,0,0.75);
}

.form-text, .form-select, .form-textarea {
  background-color: #797e84;
  color: #cdd2d8
}
