/**
 *  MENU STLYES
 **/

.menu-nav-container{
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
}

.menu-nav-container ul{
    padding: 0;
}

.menu-nav-container ul li{
    display: inline-block;
    padding: 0;
    margin: 0;
}

.menu-nav-container.main{
    text-align: center;
  /*  height: 80px;*/
    padding: 0;
    margin: 0;
}

.menu-nav-container.main ul{
    /*border-top: 5px solid #ad5757;*/
    border-bottom: 5px solid #820000;
    background: #092b60;
    background: rgba(0, 16,73,.7);
}

.menu-nav-container.main li.first{
    border: 0;
}

.menu-nav-container.main li.active a{
    color: #d63131;
}

.menu-nav-container.main li a{
    color: #cdd2d8;
    font-family: 'Russo One', sans-serif;
    text-decoration: none;
    display: block;
    padding: 0.3em 0.6em;
}

.menu-nav-container.main li a:hover{
    color: #c90808;
}

.responsive-menus-simple, .responsive-menus, .responsive-toggled, .responsive-menus-0-0 .absolute .responsified, span.toggler {
  background-color: #092b60;
  border-bottom: 5px solid #820000;
  opacity: 0.95;
}
