#block-views-event-calendar-block-2 > div.content > div, #block-views-who-s-at-the-field-block > div.content {
  border: 3px ridge #820000;
  padding: 4px;
  width: 100%;
  background-color: #e8eaed;
}

#block-views-event-calendar-block-2 > div.content > div, #block-views-who-s-at-the-field-block > div.content > div {
  width: 100%;
}

.date-display-single {
  color: #092b60;
  margin-top: 10px;
}
