@import url(https://fonts.googleapis.com/css?family=Russo+One|Titillium+Web|Play);

body {
    background-image: url('../img/metal9.jpg');
}

body, p{
    font-family: 'Play', sans-serif;
    font-weight: 400;
    color: #4d4d4d;
}

h1 {
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
    color: #1F2F6A;
    padding: 1%;
}

h2,h3,h4,h5,h6{
    font-family: 'Titillium Web', sans-serif;
    color: #1F2F6A;
}

a{
	font-family: 'Titillium Web', sans-serif;
    color: #1F2F6A;
}

strong, b{
   font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

.read-more{
  text-align: right;
}
