html {
  -ms-overflow-style: scrollbar;
}
.floatright {
  float: right !important;
}
.floatleft {
  float: left !important;
}
.clear {
  clear: both;
}
.chatbox {
  display: none;
  position: fixed;
  position: expression("absolute");
  width: 225px;
  z-index: 2;
}

.chatboxhead {
  background-color: #f99d39;
  border-left: 1px solid #f99d39;
  border-right: 1px solid #f99d39;
  color: #ffffff;
  padding: 7px;
}

.chatboxblink {
  background-color: #176689;
  border-left: 1px solid #176689;
  border-right: 1px solid #176689;
}

.chatboxcontent {
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  color: #333333;
  font-family: arial, sans-serif;
  font-size: 12px;
  height: 200px;
  line-height: 1.3em;
  overflow-x: auto;
  overflow-y: auto;
  padding: 7px;
  width: 209px;
}

.chatboxinput {
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  padding: 5px;
}

.chatboxtextarea {
  border: 1px solid #eeeeee;
  height: 44px;
  margin: 1px;
  overflow: hidden;
  padding: 3px 0pt 3px 3px;
  width: 206px;
}

.chatboxtextareaselected {
  border: 2px solid #f99d39;
  margin: 0;
}

.chatboxuserimage {
  float: left;
  width: 30px;
}

.chatboxusercontent {
  float: left;
  padding-left: 5px;
  width: 170px;
  word-wrap: break-word;
}
.chatboxmessagecontent img {
  position: static !important;
}
.chatboxmessage {
  float: left;
  margin-top: 1em;
  width: 100%;
  *width: 92%\9;
}

.chatboxinfo {
  color: #777777;
  font-size: 10px;
  margin-left: 3em;
}

.chatboxmessagefrom {
  font-weight: bold;
  margin-left: 0;
}

.chatboxoptions {
  float: right;
}

.chatboxoptions a {
  color: white;
  font-family: Verdana, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.chatboxtitle {
  float: left;
}

.google_chat_emoticons_rise {
  background: url("../images/emoticons/s2.png") no-repeat scroll -22px -25px transparent;
  bottom: 12px;
  cursor: pointer;
  height: 14px;
  position: absolute;
  right: 7px;
  width: 14px;
}

.google_chat_emoticons .J-KX {
  background-color: #ffffff;
  border: 1px solid #888888;
  bottom: 18px;
  padding-left: 1px;
  position: relative;
  width: 136px;
  z-index: 0;
}

.NQLkBe {
  left: 1px;
}

.google_chat_emoticons .J-KX-KY {
  border: none;
  border-bottom: 1px solid #888;
  height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.google_chat_emoticons .J-KX-KU-KO {
  display: block;
  float: left;
  height: 25px;
  left: 3px;
  margin: 0;
  text-align: center;
  text-align: center;
  vertical-align: middle;
  width: 28px;
}

.google_chat_emoticons .J-KX-KU-KO {
  background-color: #fff;
  border: solid #888;
  border-width: 1px 1px 0;
  bottom: -3px;
  font-weight: bold;
  padding-bottom: 2px;
  padding-top: 0;
  position: relative;
}

.lg {
  background: no-repeat url("../images/emoticons/s2.png") -22px 0;
  height: 25px;
  width: 28px;
}

.lh {
  background: no-repeat url(../images/emoticons/s2.png) -36px -25px;
  height: 20px;
  margin: 2px 3px;
  width: 22px;
}

.li {
  background: no-repeat url(../images/emoticons/s2.png) 0 0;
  height: 20px;
  margin: 2px 3px;
  width: 22px;
}

.lj {
  background: no-repeat url(../images/emoticons/s2.png) 0 -20px;
  height: 20px;
  margin: 2px 3px;
  width: 22px;
}

.google_chat_emoticons ul li {
  background-color: #fff;
  bottom: -2px;
  display: block;
  float: left;
  height: 25px;
  left: 3px;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 28px;
}

.google_chat_emoticons .J-KX-Jv {
  overflow: hidden;
  padding: 0;
}

.google_chat_emoticons .J-JX-KA {
  background-color: #fff;
}

tbody {
  border-color: inherit;
  display: table-row-group;
  vertical-align: middle;
}

tr {
  border-color: inherit;
  display: table-row;
  vertical-align: inherit;
}

table {
  border-collapse: separate;
  border-color: gray;
  border-spacing: 2px;
}

.google_chat_emoticons .J-JX-KA-JY {
  background-color: #fff;
  border-width: 0;
  height: 34px;
  padding: 0;
  width: 34px;
}

.google_chat_emoticons .J-JX-KA-JY:hover {
  background-color: #eee;
}

.k7 {
  background: no-repeat url(../images/emoticons/s1.png) 0 -120px;
}

.j6 {
  background: no-repeat url(../images/emoticons/s1.png) 0 -84px;
}

.lv {
  background: no-repeat url(../images/emoticons/s1.png) 0 -36px;
}

.jj {
  background: no-repeat url(../images/emoticons/s1.png) 0 -96px;
}

.kZ {
  background: no-repeat url(../images/emoticons/s1.png) 0 0;
}

.k3 {
  background: no-repeat url(../images/emoticons/s1.png) 0 -60px;
}

.i0 {
  background: no-repeat url(../images/emoticons/s1.png) 0 -24px;
}

.j2 {
  background: no-repeat url(../images/emoticons/s1.png) 0 -72px;
}

.jf {
  background: no-repeat url(../images/emoticons/s1.png) 0 -108px;
}

.lr {
  background: no-repeat url(../images/emoticons/s1.png) 0 -48px;
}

.ka {
  background: no-repeat url(../images/emoticons/s1.png) 0 -132px;
}

.lb {
  background: no-repeat url(../images/emoticons/s1.png) 0 -12px;
}

.k9 {
  background: no-repeat url(../images/emoticons/s.png) -56px -28px;
}

.j8 {
  background: no-repeat url(../images/emoticons/s.png) -98px 0;
}

.lx {
  background: no-repeat url(../images/emoticons/s.png) -28px 0;
}

.jl {
  background: no-repeat url(../images/emoticons/s.png) -112px -14px;
}

.k1 {
  background: no-repeat url(../images/emoticons/s.png) -14px 0;
}

.k5 {
  background: no-repeat url(../images/emoticons/s.png) -84px 0;
}

.i2 {
  background: no-repeat url(../images/emoticons/s.png) -42px 0;
}

.j4 {
  background: no-repeat url(../images/emoticons/s.png) 0 0;
}

.jh {
  background: no-repeat url(../images/emoticons/s.png) -70px -28px;
}

.lt {
  background: no-repeat url(../images/emoticons/s.png) -112px 0;
}

.kc {
  background: no-repeat url(../images/emoticons/s.png) -42px -14px;
}

.ld {
  background: no-repeat url(../images/emoticons/s.png) -56px 0;
}

.k8 {
  background: no-repeat url(../images/emoticons/s.png) -28px -28px;
}

.j7 {
  background: no-repeat url(../images/emoticons/s.png) 0 -28px;
}

.lw {
  background: no-repeat url(../images/emoticons/s.png) -98px -28px;
}

.jk {
  background: no-repeat url(../images/emoticons/s.png) -56px -14px;
}

.k0 {
  background: no-repeat url(../images/emoticons/s.png) -84px -14px;
}

.k4 {
  background: no-repeat url(../images/emoticons/s.png) -14px -28px;
}

.i1 {
  background: no-repeat url(../images/emoticons/s.png) -70px -14px;
}

.j3 {
  background: no-repeat url(../images/emoticons/s.png) -98px -14px;
}

.jg {
  background: no-repeat url(../images/emoticons/s.png) 0 -14px;
}

.ls {
  background: no-repeat url(../images/emoticons/s.png) -84px -28px;
}

.kb {
  background: no-repeat url(../images/emoticons/s.png) -42px -14px;
}

.lc {
  background: no-repeat url(../images/emoticons/s.png) -70px 0;
}

.k6 {
  background: no-repeat url(../images/emoticons/s3.png) -28px -27px;
}

.j5 {
  background: no-repeat url(../images/emoticons/s3.png) -27px 0;
}

.lu {
  background: no-repeat url(../images/emoticons/s3.png) -36px -15px;
}

.ji {
  background: no-repeat url(../images/emoticons/s3.png) 0 -27px;
}

.kY {
  background: no-repeat url(../images/emoticons/s3.png) 0 -15px;
}

.k2 {
  background: no-repeat url(../images/emoticons/s3.png) -39px 0;
}

.iZ {
  background: no-repeat url(../images/emoticons/s3.png) -15px 0;
}

.j1 {
  background: no-repeat url(../images/emoticons/s3.png) -40px -27px;
}

.je {
  background: no-repeat url(../images/emoticons/s3.png) -16px -27px;
}

.lq {
  background: no-repeat url(../images/emoticons/s3.png) -12px -15px;
}

.j9 {
  background: no-repeat url(../images/emoticons/s3.png) 0 0;
}

.la {
  background: no-repeat url(../images/emoticons/s3.png) -24px -15px;
}

.k7,
.j6,
.lv,
.jj,
.kZ,
.k3,
.i0,
.j2,
.jf,
.lr,
.ka,
.lb {
  height: 12px;
  left: 9px;
  position: relative;
  width: 13px;
}

.k9,
.j8,
.lx,
.jl,
.k1,
.k5,
.i2,
.j4,
.jh,
.lt,
.kc,
.ld {
  height: 14px;
  left: 9px;
  position: relative;
  width: 14px;
}

.k6,
.j5,
.lu,
.ji,
.kY,
.k2,
.iZ,
.j1,
.je,
.lq,
.j9,
.la {
  height: 14px;
  left: 9px;
  position: relative;
  width: 14px;
}

.k8,
.j7,
.lw,
.jk,
.k0,
.k4,
.i1,
.j3,
.jg,
.ls,
.kb,
.lc {
  height: 14px;
  left: 9px;
  position: relative;
  width: 14px;
}

.googlechat_chatboxalert {
  background-color: #ffffff;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  font-family: arial, sans-serif;
  font-size: 65%;
  height: auto;
  text-align: center;
}

.googlechat_chatboxalert .offline,
.googlechat_chatboxalert .busy {
  color: #cc0000;
}

.googlechat_chatboxalert .typing {
  color: #777;
}
.googlechatstatus {
  background-attachment: scroll;
  background-image: url(../images/chat-icons.png);
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
}
.googlechatstatus_1 {
  background-position: -52px -17px;
}

.googlechatstatus_2 {
  background-position: -17px -43px;
}

.googlechatstatus_3 {
  background-position: -34px 0;
}

.googlechatstatus_4 {
  background-position: -52px 0;
}
.chatbox_setting {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #ebebeb;
  height: 21px;
  width: 99%;
}
.chatbox_setting_more {
  border-left: 1px solid #ebebeb;
  color: #6c6c6c;
  cursor: pointer;
  float: right;
  font-family: arial,sans-serif;
  height: 21px;
  padding-left: 10px;
  vertical-align: middle;
  width: 62px;
}
.chatbox_setting_more span {
  font-size: x-small;
}
.chatbox_setting_more_list {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #ccc;
  border-right: none;
  border-top: none;
  display: none;
  left: 76px;
  left: 83px\9;
  margin: -1px 0 0 1px;
  position: relative;
  top: 18px;
  *top: 23px;
  width: 145px;
  width: 138px\9;
}
.chatbox_setting_more_list ul {
  margin: 5px;
  padding: 4px;
}
.chatbox_setting_more_list ul li {
  cursor: pointer;
  list-style: none;
  font-size:13px;
}
.chatbox_setting_more:hover,
.chatbox_setting_more_list ul li:hover {
  background: none repeat scroll 0 0 #f0f0f0;
}
.settingbackgroundFill {
  background: #ffffff;
}
.chatbox_setting_more span.googlechat-icon-arrow-down {
  *margin-top: -20px;
}
.sentat {
  display: table-row;
  font-style: italic;
  margin: 0;
  padding-top: 3px;
}
#googlechatbuddylist ul li{border-bottom: 1px solid #cccccc;}
#googlechatbuddylist ul li img,#googlechatbuddylist ul li img a{display:inline-block;}
#googlechatbuddylist ul li a img{border: 1px solid #fff;width:20px;}