.chatbox{
  font-family: arial, sans-serif;
}
#googlechat-wrapper ul {
  margin: 0;
  padding: 0;
}

#googlechat-wrapper ul li {
  display: block;
}

#googlechatbuddylist a {
  color: #eeeeee;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  height: 32px;
}

#googlechat-wrapper {
  bottom: 0;
  margin: 0 0 0 1%;
  position: fixed;
  right: 2px;
  z-index: 9999; /*--Keeps the panel on top of all other elements--*/
}

#googlechat {
  float: left;
  font-family: Arial, sans-serif;
}

#googlechat .googlechat_subpanel {
  background-color: #E5E5E5;
  border: 0;
  border-bottom: none;
  bottom: 29px;
  left: 0px;
  overflow: hidden;
  padding: 0 2px 0 0;
  width: 150px;
}

/* Subpanel title */
#googlechat .googlechat_subpanel_title {
  background-color: #404040;
  border: 1px solid #404040;
  color: #fff;
  cursor: pointer;
  float: left;
  font-size: 13px;
  font-weight: bold;
  height: 30px;
  width: 100%;
}

#googlechatbuddylist {
  clear: both;
  color: #ffffff;
  height: 192px;
  overflow-y: auto;
}
#googlechatbuddylist a {
  text-decoration: none;
  color: rgb(155, 155, 155);
}
#googlechatbuddylist ul li {
  background-color: #E5E5E5;
  border-bottom-color: rgba(0, 0, 0, 0.117647);
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin-bottom: 0;
  padding: 2px 0;
}

#googlechatbuddylist ul li:hover {
  background-color: rgb(255, 255, 255);
  color: #004276;
}
.aCR {
  background: url("images/ui-icons_ffffff_256x240.png") no-repeat scroll -66px -14px transparent;
  height: 16px;
  width: 16px;
}

.googlechat_subpanel_title div {
  float: left;
  height: 16px;
}

.googlechat_subpanel_title .status_indicator {
  height: 100%;
  padding: 4px;
  width: 40px;
}

.status_indicator_panel {
  background-color: #E5E5E5;
  cursor: default;
  display: none;
  font-size: 13px;
  margin: 0;
  outline: medium none;
  padding: 6px 0;
  position: relative;
  transition: opacity 0.218s ease 0s;
  width: 118px;
  -webkit-border-radius: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity .218s;
}

.status_indicator_panel ul li {
  color: #404040;
  cursor: pointer;
  list-style: none outside none;
  margin: 0;
  padding: 2px 3em 2px 5px !important;
}

.J-N-JX {
  background-repeat: no-repeat;
  height: 21px;
  margin-right: 3px;
  vertical-align: middle;
  width: 18px;
}

.status_indicator_panel ul li:hover {
  background-color: #ffffff;
  padding-bottom: 1px;
  padding-top: 1px;
}

.googlechat_setting_wrapper,
.googlechat_titlebar_min {
  float: right !important;
  padding: 4px;
  width: 18px;
}
.googlechat_titlebar_min a {
  cursor: pointer;
}
.clear_background_image {
  background-image: none !important;
  float: left;
}

.googlechat-corner-all {
  border-radius: 0px;
  -webkit-border-radius: 0px;
}
.googlechat-box-all {
  border-radius: 0px;
  -webkit-border-radius: 0px;
}

.googlechat_notification_sound_panel {
  background-color: #E5E5E5;
  cursor: default;
  display: none;
  font-size: 13px;
  margin: 0;
  outline: medium none;
  padding: 6px 0;
  position: relative;
  right: -77px;
  right: -69px\9;
  transition: opacity 0.218s ease 0s;
  width: 75px;
  width: 83px\9;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity .218s;
}

.googlechat_notification_sound_panel ul li {
  cursor: pointer;
  list-style: none outside none;
  margin: 0;
  padding: 2px .5em 2px 1px !important;
  position: relative;
  white-space: nowrap;
}

.googlechat_notification_sound_panel ul li a {
  color: #404040 !important;
  padding-left: 2em;
  text-decoration: none;
}

.googlechat-icon {
  height: 16px;
  width: 16px;
}
.googlechat-icon {
  background-image: url("images/ui-icons_ffffff_256x240.png");
  background-repeat: no-repeat;
  display: block;
}
.googlechat-icon-wrench {
  background-position: -144px -160px;
  float: right;
}

.googlechat-icon-check {
  background-position: -64px -144px;
  float: left;
}
.googlechat-icon-minus {
  background-position: -48px -128px;
  float: right;
}
.googlechat-icon-newwin {
  background-position: -48px -80px;
  float: right;
}
.googlechat-icon-arrow-down {
  background-position: -66px -14px;
  float: right;
}
.googlechat-icon-hover {
  height: 16px;
  width: 16px;
}
.googlechat-icon-hover {
  background-image: url("images/ui-icons_bbbbbb_256x240.png");
  background-repeat: no-repeat;
  display: block;
}

.googlechat-state-hover {
  background-color: #ffffff;
}

.chatboxhead {
  background-color: #404040;
  border: 0;
  color: #ffffff;
  padding: 4px;
}
.chatbox {
  background-color: #E5E5E5;
}
.chatboxcontent {
  background-color: #E5E5E5;
  border: none;
  color: #404040;
  padding: 0 !important;
  width: 225px;
}
.chatboxinput {
  background-color: #E5E5E5;
  border: none;
}
.chatboxtextarea {
  background-color: #ffffff;
  color: #404040;
  resize: none;
  width: 210px;
}

.chatboxblink {
  background: url("images/ui-bg_highlight-hard_100_f6f6f6_1x100.png") repeat-x scroll 50% 50% #f6f6f6;
  border: 1px solid #cdd5da;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #000000;
  font-weight: bold;
  -webkit-border-radius: 8px;
}

.chatboxblink a {
  color: #000000;
}

.googlechat_chatboxalert {
  background: none;
  border: none;
}

#googlechatbuddylist::-webkit-scrollbar,
.chatboxcontent::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

#googlechatbuddylist::-webkit-scrollbar-thumb,
.chatboxcontent::-webkit-scrollbar-thumb {
  background-color: #777777;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

#googlechatbuddylist::-webkit-scrollbar-button,
.chatboxcontent::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

#googlechatbuddylist::-webkit-scrollbar-corner,
.chatboxcontent::-webkit-scrollbar-corner {
  background-color: transparent;
}

#googlechat_panel_footer {
  background-color: #e5e5e5;
  border: 1px solid #404040;
  clear: both;
  color: #404040;
  height: 30px;
  width: 100%;
}
#googlechat_panel_footer  em {
  float: left;
  margin-left: 4px;
  margin-top: 4px;
}
.chatbox_setting {
  background-color: #E5E5E5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.chatbox_setting_more {
  border-left: 1px solid #505050;
}
.chatbox_setting_more .googlechat-icon {
  background-image: url("images/ui-icons_bbbbbb_256x240.png");
  background-repeat: no-repeat;
  display: block;
}

.chatboxusercontent {
  background: none repeat scroll 0 0 #ffffff;
  min-height: 20px;
  max-width: 156px;
  padding: 5px;
  width: auto;
}

.msgtip{
  background: no-repeat url("images/icons.png") -43px -270px;
  width: 7px;
  height: 10px;
  position: relative; 
}
.tip_top {
  left: 30px;
  top: 0;
  float: left
}
.tip_bottom {
  background: no-repeat url(images/icons.png) -43px -270px;
  bottom: 1px;
  left: 196px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
